/* Luottamuksen messu styles by Juha Jattu 2017 */
/* Styles inspiration from http://taize.fr */

/* Fonts */
/* Responsive fonts - Single property - By Michael Riethmuller - https://www.smashingmagazine.com/2016/05/fluid-typography/ */
html {
    font-size: 0.9em;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(0.9em + 4 * (100vw - 320px) / 1046);
    }
}
@media screen and (min-width: 1366px) {
    html {
        font-size: 1.1em;
    }
}

/* Colors */
/*Dark grey */
body {
    color: #282828;
}
/*Middle grey*/
h1, h2, h3, footer {
    color: #555;
}
/*Light grey*/
footer{
    border-color: #efefef;
}
footer {
    background: #efefef;
}
/*Taizé orange*/
a, a:visited, .act {
    color: #f07d00;
}

/* Layout */
@media (min-width: 800px) {
    .heading{
        height: 32vw;
        background: url(../img/summer_large.jpg) center center;
    }
}
@media (max-width: 799px) {
    .heading{
        height: 18rem;
        background: url(../img/summer_medium.jpg) center center;
    }
}
.heading {
    background-size: cover;
    margin-bottom: 1rem;
}
.heading .container, .heading .container .row {
    height: 100%;
}
.heading h1 {
    font-size: 2.3rem;
    color: white;
    padding-bottom: 1rem;
}
.location {
    display: block;
    clear: both;
}
.table-calendar-list {
    width: 100%;
}
.table-calendar-list td {
    padding: 0.25rem;
    vertical-align: top;
}
.event-date {
    padding: 0.5rem;
    background-color: #eee;
    text-align: center;
}
.event-weekday {
    font-size: 0.6rem;
    text-transform: uppercase;
    display: block;
}
.event-day {
    font-size: 1.5rem;
    line-height: 1.1;
    display: block;
}
.event-month {
    font-size: 1.1rem;
    display: block;
}
.event {
    padding: 0.25em;
}
.event .location {
    font-size: 0.9rem;
}

/* Card columns */
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

/* Icons */
.location:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f041";
}